<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/assets/styles/index.css">
  <title>Meetup Page Draft</title>
</head>
<body>
<div id="app" v-cloak>
  <div v-if="meetupComputed">
    <div class="meetup-cover" :style="meetupComputed.imageBGUrl">
      <h1 class="meetup-cover__title">{{ meetupComputed.title }}</h1>
    </div>

    <div class="container">
      <div class="meetup">
        <div class="meetup__content">
          <h3>Описание</h3>
          <p class="meetup-description">{{ meetupComputed.description }}</p>

          <h3>Программа</h3>
          <div class="meetup-agenda">
            <p class="meetup-agenda__empty" v-if="isAgendaEmpty">Программа пока пуста, но когда-нибудь в ней обязательно что-нибудь появится!</p>
            <div class="meetup-agenda__item" v-for="(agendaItem,  index) in meetupComputed.agenda" :key="agendaItem.id">
              <div class="meetup-agenda__item-col">
                <img class="icon" alt="icon" :src="`/assets/icons/icon-${agendaItem.icon}.svg`" />
              </div>  
              <div class="meetup-agenda__item-col">{{ agendaItem.duration }}</div>
              <div class="meetup-agenda__item-col">
                <h5 class="meetup-agenda__title">{{ agendaItem.title || agendaItem.defaultTitle }}</h5>
                <p><span>{{ agendaItem.speaker }}</span><span class="meetup-agenda__dot" v-if="agendaItem.language"></span><span class="meetup-agenda__lang">{{agendaItem.language}}</span></p>
                <p>{{ agendaItem.description }}</p>
              </div>
            </div>

          </div>
        </div>

        <div class="meetup__aside">
          <ul class="info-list">
            <li>
              <img class="icon info-list__icon" alt="icon" src="/assets/icons/icon-user.svg" />
              {{ meetupComputed.organizer }}
            </li>
            <li>
              <img class="icon info-list__icon" alt="icon" src="/assets/icons/icon-map.svg" />
              {{ meetupComputed.place }}
            </li>
            <li>
              <img class="icon info-list__icon" alt="icon" src="/assets/icons/icon-cal-lg.svg" />
              <time :datetime="meetupComputed.date">{{ meetupComputed.date }}</time>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="module" src="script.js"></script>
</body>
</html>
